<div class="container">
  <div>
    <button class="btn btn-primary" type="button" name="addNew" (click)="addNewArticle()">Add New Article</button>
    <div class="row" id="all-articles" *ngFor="let article of articles | async">
      <div class="col-md-5">
        <p><b>{{article.title}}</b></p>
      </div>
      <div class="col-md-2">
        <p>{{article.publishedDate}}</p>
      </div>
      <div class="col-md-1">
        <p><b>{{article.category}}</b></p>
      </div>
      <div class="col-md-4">
        <p>
          <button (click)='editArticle(article)' type="button" id="editArticle" name="editArticle" class="btn btn-danger">Edit Article</button>
          <button type="button" name="deleteButton" (click)="deleteArticle(article)" class="btn btn-danger">Delete Article</button>
        </p>
      </div>
    </div>
  </div>
