#header {
  background-color: black;
  text-align: center;
}

#hamburger{
    width: 30px;
}

#header .row {
    padding: 15px;
}

#navbar {
  background-color: #252525;
  padding: 3rem 20px;
  text-align: left;
  border-bottom: 3px solid #0DBE98;
}

#navbar a{
  color: white;
  text-decoration: none;
}

.topLevel a{
  border-bottom: 3px solid #0DBE98;
}

img {
    max-width: 100%;
}
