<app-slideshow-banner></app-slideshow-banner>
<div class="container home">
  <div class="row">
    <div class="col-md-3">
      <div class="categoryHeader">
        <p>TOP STORIES</p>
      </div>
      <div class="row">
        <div class="col-md-12 middleArticles" *ngFor="let article of articles | async | Limit2Pipe">
          <div (click)="viewArticle(article)">
            <p><img src="{{article.image}}" alt="{{article.title}}"></p>
            <h5 class="title">{{article.title}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 middleArticles" *ngFor="let article of articles | async | Limit2Pipe">
          <div (click)="viewArticle(article)">
            <p><img src="{{article.image}}" alt="{{article.title}}"></p>
            <h2 class="title">{{article.title}}</h2>
            <p>{{article.subtitle}}</p>
            <p class="author">by {{article.author}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="categoryHeader">
        <p>CATEGORIES</p>
      </div>
    </div>
  </div>
