img {
  max-width: 100%;
}

#editForm,
#newArticleForm{
    border: 1px solid black;
    padding: 20px;
    margin-top: 2rem;
}

.bold {
    font-weight: 700;
}

img {
    max-width: 100%;
}

.author {
    color: #F83371;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    font-weight: normal;
}

.home {
  margin-top: 3rem ;
}

.middleArticles {
  margin-bottom: 1.5rem ;
}

.title {
  font-weight:700;
}

.categoryHeader {
    background-image: url('/assets/images/pink-background.png');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
}

.categoryHeader p{
    margin-bottom: 0px;
}
